.select {
  .MuiSelect-icon {
    color: #0d6efd;
  }

  .MuiSelect-select {
    color: #0d6efd;
  }
}

.MuiInputLabel-root {
  color: #0d6efd !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #0d6efd !important;
}
